html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    color: #111827;
}

* {
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

/* ERRORS */

.error {
    color: #DC2626;
}

/* NAVBAR */

nav {
    padding: 0 5rem;
    height: 6rem;
    font-size: 2rem;
    border: 1px solid #E5E7EB;
    font-weight: bold;
}

nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

nav ul > div:nth-child(2) {
    display: flex;
    gap: 2rem;
}

nav .profile-link {
    height: 100%;
}

nav .profile-link {
    color: #4F46E5;
}

nav .profile-link:hover {
    color: #6d67e3;
}

.dropbtn {
    padding: 1.6rem;
    height: 100%;
    cursor: default;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 8px;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 3rem;
}

.dropdown-content a {
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e0e0e0de;
}

/* LOGIN AND SIGNUP PAGES */

.login-page, .signup-page {
    background-color: #F3F4F6;
    height: 94.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card, .signup-card {
    background-color: white;
    padding: 6rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 50rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-card h1, .signup-card h1 {
    font-size: 3rem;
    font-weight: bold;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%;
    gap: 2rem;
}

.login-form div, .signup-form div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form input, .signup-form input {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #6b6b6b;
    background-color: #F3F4F6;
}

.login-form button, .signup-form button {
    padding: 1rem 0;
    cursor: pointer;
    background-color: #4F46E5;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    border-radius: 8px;
}

.login-form button:hover, .signup-form button:hover {
    background-color: #5e57e5;
}

.login-card span, .signup-card span {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

.link :hover {
    color: #6d67e3;
}

.link {
    color: #4F46E5;
}

/* HOME PAGE */

.home-page {
    background-color: #F3F4F6;
    height: 94.5vh;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.home-page h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.home-page .heading-container {
    display: flex;
    justify-content: center;
}

.home-page h2:first-of-type {
    font-size: 3rem;
    font-weight: bold;
    color: #6366F1;
}

.home-page .users-container {
    display: flex;
    justify-content: center;
}

.home-page .users-card {
    min-height: 20rem;
    background-color: white;
    border-radius: 8px;
    padding: 3rem;
    width: fit-content;
}

.home-page .users-card ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.home-page .empty-users-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .empty-users-container h2 {
    font-size: 2.5rem;
}

.home-page .user-card {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
    width: fit-content;
}

.home-page .user-card:hover {
    background-color: rgba(228, 228, 228, 0.427);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.home-page .user-card .profile-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.home-page .user-card h3 {
    font-size: 2rem;
}

/* PHONE */
@media (max-width: 680px) {
    /* LOGIN AND SIGNUP PAGES */

    .login-card, .signup-card {
        width: 45rem;
    }
}

/* TABLET */
@media (min-width: 681px) and (max-width: 1260px) {
    /* LOGIN AND SIGNUP PAGES */

    .login-page, .signup-page {
        padding: 0 10%;
    }
    
    .login-card, .signup-card {
        width: 50rem;
    }
}

.profile-picture {
    height: 50px;
}